* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
a{
    text-decoration: none;
}
button{
    cursor: pointer;
}
img{
    object-fit: cover;
}
h2{
    font-weight: 400;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
    border: 2px solid #e8e8e8;
    position: absolute;
    top: 16px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 16px;
    padding: 15px;
}
nav .logo{
    display: flex;
    align-items: center;
    gap: 5px;
}

nav .logo img{
    width: 35px;
    height: 35px;
}

nav .logo a{
    color: #000;
    font-weight: 600;
}

nav .nav-links{
    display: flex;
    gap: 32px;
}

nav .nav-links a{
    font-size: 14px;
    color: #000;
    transition: all 0.3s ease;
}

nav .nav-links a:hover{
    color: #606060;
}

/* Responsive Design */
@media (min-width: 768px) {
    .product {
        width: 45%;
    }
}

@media (min-width: 1024px) {
    .product {
        width: 30%;
    }
}